video {
    object-fit: fill;
}
.a::-webkit-calendar-picker-indicator {
    width: 30px;
    height: 17px;
}
input {
    color-scheme: dark;
    padding-right: 50px
}

.mat-icon-button {
   padding-top:10px !important;
}


  
/* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }
  
/* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #2DAB64;
//     // border-radius: 5px;
// }
  
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #2DAB64;
// }

