<!-- Notifications toggle -->
<button mat-icon-button (click)="openPanel()" #notificationsOrigin>
  <ng-container>
    <span
      class="absolute top-0 right-0 left-0 flex items-center justify-center h-3"
    >
      <span
        class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-teal-600 text-indigo-50 text-xs font-medium"
      >
        1
      </span>
    </span>
  </ng-container>
  <mat-icon [svgIcon]="'heroicons_outline:bell'"></mat-icon>
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>
  <div
    class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-80 sm:w-80 sm:rounded-2xl overflow-hidden shadow-lg"
  >
    <!-- Header -->
    <div
      class="flex shrink-0 items-center py-5 pr-5 pl-6 bg-[#26272F] h-12 text-on-primary"
    >
      <div class="sm:hidden -ml-1 mr-3">
        <button mat-icon-button (click)="closePanel()">
          <mat-icon
            class="icon-size-5 text-current"
            [svgIcon]="'heroicons_solid:x'"
          ></mat-icon>
        </button>
      </div>
      <div class="text-md font-medium leading-10">Notifications</div>
      <div class="ml-auto">
        <button
          mat-icon-button
          [matTooltip]="'Mark all as read'"
          [disabled]="unreadCount === 0"
          (click)="markAllAsRead()"
        >
          <mat-icon
            class="icon-size-5 text-current"
            [svgIcon]="'heroicons_solid:mail-open'"
          ></mat-icon>
        </button>
      </div>
    </div>

    <!-- Content -->
    <div
      class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card"
    >
      <!-- Notifications -->
      <ng-container
        *ngFor="
          let notification of notifications;
          let index = index;
          trackBy: trackByFn
        "
      >
        <div
          class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5"
          [ngClass]="{ unread: !notification.message_read_flag }"
        >
          <!-- Router links -->
          <ng-container *ngIf="link">
            <a
              class="flex flex-auto py-2 pl-6 cursor-pointer"
              [routerLink]="[link, notification.notification_log_id]"
            >
              <ng-container
                *ngTemplateOutlet="notificationContent"
              ></ng-container>
            </a>
          </ng-container>

          <!-- Actions -->
          <div class="relative flex flex-col my-1 mr-2 ml-2">
            <!-- Indicator -->
            <button
              class="w-4 h-4 min-h-5"
              mat-icon-button
              (click)="toggleRead(notification, index)"
              [matTooltip]="
                notification.message_read_flag
                  ? 'Mark as unread'
                  : 'Mark as read'
              "
            >
              <span
                class="w-2 h-2 rounded-full"
                [ngClass]="{
                  'bg-gray-400 dark:bg-gray-500 sm:opacity-0 sm:group-hover:opacity-100':
                    notification.message_read_flag,
                  'bg-[#0B3960]': !notification.message_read_flag
                }"
              ></span>
            </button>
            <!-- Remove -->
            <!-- <button
                            class="w-6 h-6 min-h-6 sm:opacity-0 sm:group-hover:opacity-100"
                            mat-icon-button
                            (click)="delete(notification)"
                            [matTooltip]="'Remove'">
                            <mat-icon
                                class="icon-size-4"
                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                        </button> -->
          </div>
        </div>

        <!-- Notification content template -->
        <ng-template #notificationContent>
          <!-- Title, description & time -->
          <div class="flex flex-col flex-auto h-10">
            <ng-container>
              <div class="line-clamp-1">
                <span class="font-small text-md"
                  >Notification - {{ notification.notification_log_id }}</span
                >
                <span class="text-sm text-secondary" style="float: right"
                  >Port:{{ notification.port }}</span
                >
              </div>
              <!-- [innerHTML]="'Notification'">   -->
              <!-- </div> -->
            </ng-container>
            <div class="mt-2 text-sm leading-none text-secondary">
              {{ notification.sent_date | date : "MMM dd, h:mm a" }}
              <span class="text-sm" style="float: right">{{
                notification.camera_type | titlecase
              }}</span>
            </div>
          </div>
        </ng-template>
      </ng-container>

      <!-- No notifications -->
      <ng-container *ngIf="!notifications || !notifications.length">
        <!-- <div
          class="flex flex-col flex-auto items-center justify-center sm:justify-start"
        > -->
        <!-- <div
            class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100"
          >
            <mat-icon
              class="text-primary-500-700"
              [svgIcon]="'heroicons_outline:bell'"
            ></mat-icon>
          </div>
          <div class="mt-5 text-2xl font-semibold tracking-tight">
            No notifications
          </div>
          <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">
            When you have notifications, they will appear here.
          </div> -->

        <!-- <ng-template #notificationContent> -->
        <!-- <div class="flex flex-col flex-auto h-10">
            <ng-container>
              <div class="line-clamp-1">
                <span class="font-small text-md">Notification - 22</span>
                <span class="text-sm text-secondary" style="float: right"
                  >Port:544</span
                >
              </div> -->
        <!-- [innerHTML]="'Notification'">   -->
        <!-- </div> -->
        <!-- </ng-container>
            <div class="mt-2 text-sm leading-none text-secondary">
              Aug 28, 9:22 PM
              <span class="text-sm" style="float: right">Camera 5</span>
            </div>
          </div> -->
        <!-- </ng-template> -->

        <div
          class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 unread ng-star-inserted"
        >
          <a
            class="flex flex-auto py-2 pl-6 cursor-pointer ng-star-inserted"
            href="/Guardis-Ai-demo-frontend/viewnotifications"
            ><div class="flex flex-col flex-auto h-10 ng-star-inserted">
              <div class="line-clamp-1">
                <span class="font-small text-md">Notification - 23</span>
                <span class="text-sm text-secondary" style="float: right"
                  >Port:554</span
                >
              </div>
              <div class="mt-2 text-sm leading-none text-secondary">
                Aug 28, 9:22 PM
                <span class="text-sm" style="float: right">Camera5</span>
              </div>
            </div>
          </a>
          <div class="relative flex flex-col my-1 mr-2 ml-2">
            <button
              mat-icon-button=""
              class="mat-focus-indicator mat-tooltip-trigger w-4 h-4 min-h-5 mat-icon-button mat-button-base"
              aria-describedby="cdk-describedby-message-yvx-1-8"
              cdk-describedby-host="yvx-1"
            >
              <span class="mat-button-wrapper"
                ><span class="w-2 h-2 rounded-full bg-[#0B3960]"></span></span
              ><span
                matripple=""
                class="mat-ripple mat-button-ripple mat-button-ripple-round"
              ></span
              ><span class="mat-button-focus-overlay"></span>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
