table {
    width: 100%;
}

tr.example-detail-row {
    height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex{
  min-height: 30px;
}
.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    text-align: center;
}
tr.mat-header-row{
  height:36px;
  
}
.example-expanded-row{
  background-color:#d3d3d3 !important;
}
tr.mat-row{
  cursor: pointer;
}
// .expanded-contents {
//     padding: 25px;
// }



section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }